.box {
  position: relative;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  text-align: center;
}

.inner {
  font-size: 3em;
  font-weight: bold;
  display: inline-block;
  margin: auto;
}

#scoreValue {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  .inner {
    font-size: 3em;
    font-weight: bold;
    display: inline-block;
    margin: auto;
    padding-top: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  .inner {
    font-size: 4em;
    font-weight: bold;
    display: inline-block;
    margin: auto;
    padding-top: 15%;
  }

  #scoreValue {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
  }
}
.selected {
  background-color:green !important;
}

.purple1 {
  background-color: rgb(205, 215, 255);
}

.purple2 {
  background-color: rgb(205, 195, 255);
}

.purple3 {
  background-color: rgb(205, 175, 255);
}

.purple4 {
  background-color: rgb(205, 155, 255); 
}

.green1 {
  background-color: rgb(225, 255, 205);
}

.green2 {
  background-color: rgb(205, 255, 185);
}

.green3 {
  background-color: rgb(185, 255, 165);
}

.green4 {
  background-color: rgb(165, 255, 145);
}

.disabled{
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  -webkit-user-drag: none;
}